.card {
    max-width: 600px;
    display: block;
    margin: 20px auto;
}

.Weather .search {
    display: flex;
    justify-content: space-between;
}

.Weather .search-bar {
    width: 75%;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    margin: 0 10px 0 0;
}

.Weather .search-button {
    width: 25%;
}

.Weather h1, h5 {
    text-align: left;
}

.Weather h1 {
    margin: 0;
}

.Weather .icon {
    overflow: hidden;
    transform: scale(1.5);
    height: 80px;
    width: 20%;
    vertical-align: middle;
}

.forecast-weather-icon {
    overflow: hidden;
    transform: scale(1.5);
    height: 40px;
    vertical-align: middle;
    margin: 10px 0;
}

.forecast-day {
    font-size: 16px;
}

.forecast-temp {
    font-size: 13px;
}

.min-temp {
    opacity: .7;
}

.Weather .temp {
    text-align: left;
    font-size: 60px;
    width: 30%;
    margin: 7px 0 0 10px;
}

.Weather .big-screen {
    width: 50%;
    list-style: none;
    text-align: left;
    font-size: 16px;
    line-height: 1.25;
    margin-top: 13px;
}

.Weather .small-screen {
    list-style: none;
    font-size: 20px;
    line-height: 1.5;
    margin: 20px 0 20px 0;
    padding: 0;
}

@media (max-width: 650px) {
    .card {
        max-width: 90%;
    }
    .weather-info {
        justify-content: center;
        margin-top: 20px;
    }
    .weather-info .temp {
        font-size: 50px;
        margin-top: 12px
    }
}